@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: Spongeboy;
  src: url(/Fonts/Spongeboy.ttf);
}

@font-face {
  font-family: Pridi-Regular;
  src: url(/Fonts/Pridi-Regular.ttf);
}

.pridi{
  font-family: Pridi-Regular !important;
}

body {
  font-family: Spongeboy !important;
  color: rgb(var(--foreground-rgb));
 background-color: #B4FFF1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width:1080px) {
  .responsive-squidtop{
   display: none;
  }
  .responsive-chat{
    top:-4rem;
    width: 50%;
  }
  .responsive-whatever{
    width: 80%;
    margin-left: -8rem;
  }
  .responsive-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .responsive-tokenomics-left{
    width: 50%;
    margin-left: 0;
  }
  .responsive-map{
    width: 50%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .responsive-map-chat{
    width: 50%;
    margin-top: 0;
    
  }
}

@media screen and (min-width:720px) and (max-width:1080px){
  .responsive-chat{
    top:-4rem;
    width: 30%;
  }
}

@media screen and (min-width:1080px) and (max-width:1300px){
  .responsive-chat{
    top: 14rem;
  }
}